<div>
  <p data-id="{{dataId}}">{{patternName}}</p>
  <button type="button" class="patternDeleteButton" data-id="{{dataId}}" name="deleteButton">Delete</button>
  <form id="update-title" data-id="{{dataId}}">
    <input name="title" type="text" placeholder="Update Title"/>
    <input type="submit" value="Submit">
  </form>
  <br></br>
</div>
