$russian-green: #6a8d73;
$nyanza: #e4ffe1;
$bisque: #ffe8c2;
$sandy-brown: #f0a868;
$beige: #f4fdd9;
$black: #000;
$davys-grey: #585563;
$medium-spring-bud: #c7d59f;
$bubbles: #e8f0ff;
$lavender-pink: #f7accf;
$grey: #808080;
