$sidebar--background-color: #6a8d73;
$main-div-background: #e4ffe1;
$footer-background-color: #ffe8c2;
$sidebar-font-color: #f0a868;
$navbar-background-color: #f4fdd9;
$black: #000;
$davys-grey: #585563;
