$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

html {
  min-height: 100%;
}

// Style the buttons inside the tab */
.tab {
  background-color: $beige;
  border: 3px ridge $davys-grey;
  border-style: ridge;
  overflow: hidden;
  text-align: center;

  button {
    background-color: inherit;
    border: 0;
    margin: auto;
    outline: none;
    padding: 14px 16px;
    text-align: center;
    transition: .3s;
  }
}

// Style the tab content */
.tabcontent {
  background-color: $nyanza;
  border-top: 0;
  display: none;
  padding: 6px 12px;
}

body {
  background-color: $nyanza;
}

.header {
  grid-area: header;
  text-align: center;
}

.sidebar {
  background-color: $russian-green;
  border-color: $davys-grey;
  border-style: ridge;
  color: $sandy-brown;
  grid-area: sidebar;
  min-height: 100%;
  text-align: left;

  button {
    background-color: $sandy-brown;
    border-color: $davys-grey;
    color: $davys-grey;
  }
}

.footer {
  background-color: $bisque;
  bottom: 0;
  grid-area: footer;
  left: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  text-align: center;
}

.content {
  background-color: $nyanza;
  color: $black;
  grid-area: content;
  text-align: left;
}

h1 {
  text-align: center;
}

th,
td {
  border: 1px solid $black;
  height: 40px;
  text-align: center;
  width: 40px;

  input {
    height: 40px;
    text-align: center;
    width: 40px;
  }
}

.aboutpara {
  margin: auto;
  max-width: 600px;
  text-align: justify;
}
